@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';

/*
	Ethereal by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

/* Page */

	body {
		overflow-x: scroll;
	}

/* Wrapper */

	#wrapper {
		body.is-preload & {
			@include vendor('transform', 'none');
			opacity: 1;
		}
	}